# Introduction to Data Frame
A DataFrame is a tablular data structure comprised of rows and columns

In [1]:
#Import Pandas 
import pandas as pd
#Reading Data 
#Common way to create a DataFrame is Python Dictionary
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
#Assing Dictionary to Dataframe 
football = pd.DataFrame(data)
# Read Data 
football

   losses     team  wins  year
0       5    Bears    11  2010
1       8    Bears     8  2011
2       6    Bears    10  2012
3       1  Packers    15  2011
4       5  Packers    11  2012
5      10    Lions     6  2010
6       6    Lions    10  2011
7      12    Lions     4  2012

In [3]:
#Assign column orders
#Common way to create a DataFrame is Python Dictionary
data = {'year': [2010, 2011, 2012, 2011, 2012, 2010, 2011, 2012],
        'team': ['Bears', 'Bears', 'Bears', 'Packers', 'Packers', 'Lions', 'Lions', 'Lions'],
        'wins': [11, 8, 10, 15, 11, 6, 10, 4],
        'losses': [5, 8, 6, 1, 5, 10, 6, 12]}
#Assing Dictionary to Dataframe 
football = pd.DataFrame(data, columns=['year', 'team', 'wins', 'losses'])
# Read Data 
football

   year     team  wins  losses
0  2010    Bears    11       5
1  2011    Bears     8       8
2  2012    Bears    10       6
3  2011  Packers    15       1
4  2012  Packers    11       5
5  2010    Lions     6      10
6  2011    Lions    10       6
7  2012    Lions     4      12

In [4]:
type(data)

dict

In [5]:
type(football)

pandas.core.frame.DataFrame

In [6]:
football.index

RangeIndex(start=0, stop=8, step=1)

In [7]:
football.values

array([[2010, 'Bears', 11, 5],
       [2011, 'Bears', 8, 8],
       [2012, 'Bears', 10, 6],
       [2011, 'Packers', 15, 1],
       [2012, 'Packers', 11, 5],
       [2010, 'Lions', 6, 10],
       [2011, 'Lions', 10, 6],
       [2012, 'Lions', 4, 12]], dtype=object)

In [9]:
football['year']

0    2010
1    2011
2    2012
3    2011
4    2012
5    2010
6    2011
7    2012
Name: year, dtype: int64

In [10]:
year_football = football['year']
type(year_football)

pandas.core.series.Series

In [12]:
football.columns

Index(['year', 'team', 'wins', 'losses'], dtype='object')

In [13]:
football.dtypes

year       int64
team      object
wins       int64
losses     int64
dtype: object

In [15]:
football.T

            0      1      2        3        4      5      6      7
year     2010   2011   2012     2011     2012   2010   2011   2012
team    Bears  Bears  Bears  Packers  Packers  Lions  Lions  Lions
wins       11      8     10       15       11      6     10      4
losses      5      8      6        1        5     10      6     12

In [17]:
# loc = Purely label-location based indexer for selection by label.
football.loc[0]

year       2010
team      Bears
wins         11
losses        5
Name: 0, dtype: object

In [18]:
# iloc = purely integer location
football.iloc[0]

year       2010
team      Bears
wins         11
losses        5
Name: 0, dtype: object

In [19]:
# ix = lable location based indexer
football.ix[0]

year       2010
team      Bears
wins         11
losses        5
Name: 0, dtype: object

In [22]:
football.size

32

In [23]:
football.shape

(8, 4)

In [24]:
football.ndim

2

In [25]:
football.axes

[RangeIndex(start=0, stop=8, step=1),
 Index(['year', 'team', 'wins', 'losses'], dtype='object')]